backend/static/*
backend/videos/*
backend/cookies.txt
node_modules/*
*.log
*.ckpt
!backend/final0.ckpt
*.mp4
*.gif
*.png
*.jpg
*.jpeg
*.webp
*.avi
*.mov
*.mp3

# Virtual environments
venv/
dance_app_env/
env/
.venv/
.env/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Large files
*.dylib
Untitled.ipynb
cookies.txt

# OS specific
.DS_Storefinal0.kpt
